
mixin text-field(inputtype, labeltext, placehol)
  label= labeltext
    input.text-field(type= inputtype, placeholder= placehol)



//mixin select-option(selectvalue)
  option(value= selectvalue)= selectvalue

mixin select-field(labeltext, placehol, selectvalue1, selectvalue2, selectvalue3)
  label= labeltext
    select.select-field
      option(selected disabled)= placehol
      option(value= selectvalue1)= selectvalue1
      option(value= selectvalue2)= selectvalue2
      option(value= selectvalue3)= selectvalue3
